{% extends 'apps/emp_Interface.html' %}

{% block title %}ChangePassword{% endblock title %}

{% block data %}

<script>
    function checkpassword()
    {
        if(document.ChangePassword.newPassword.value != document.ChangePassword.confirmNewPassword.value)
        {
            alert("Password doesn't matches");
            document.ChangePassword.newPassword.focus();
            return false;
        }
        return true;
    }
</script>

<div class="alert alert-primary" role="alert">
    <h5 class="mb-0">Change Password</h5>

    <form action="" method="post" name="ChangePassword" onsubmit="return checkpassword()">
        {% csrf_token %}
        <div class="card shadow p-3 mt-5">
            <div class="col-lg-7 col-md-5">
                <label for="currentPassword">Current Password</label>
                <input type="text" placeholder="Current Password" class="form-control" name="currentPassword" id="currentPassword">
            </div>
            <div class="col-lg-7 col-md-5 my-3">
                <label for="newPassword">New Password</label>
                <input type="text" placeholder="New Password" class="form-control" name="newPassword" id="newPassword">
            </div>
            <div class="col-lg-7 col-md-5">
                <label for="confirmNewPassword">Confirm New Password</label>
                <input type="text" placeholder="Confirm New Password" class="form-control" name="confirmNewPassword" id="confirmNewPassword">
            </div>
            <div class="col-lg-6"><a href=""><button class="btn btn-sm mt-4 p-2" style="width:100px;background-color:orangered; border:0px;border-radius:0px;color:white;">Save</button></a></div>         
        </div>
    </form>
</div>

{% if error == 'no' %}
<script>
    alert('Password Change Successfully');
    window.location = ('{% url 'emp_changePassword' %}'); 
</script>
{% endif %}
{% if error == 'yes' %}
<script>
    alert('Fail to change password !!!');
</script>
{% endif %}

{% endblock data %}